<div class="panel panel-primary">
  <div class="panel-heading">
      <div class="text-center">
        <span>{{questionShow.question.title}}</span> &middot;
        <span>{{questionShow.questionOwner(questionShow.question.owner)}}</span>
      </div>
  </div>
  <div class="panel-body">
    <p>{{questionShow.question.content}}</p>
  </div>
  <div class="panel-footer">
    <div class="text-left">
      <div class="function-buttons">
        <a ng-click='questionShow.upvote()'><i class="fa fa-thumbs-up"></i></a>
        <span>{{questionShow.question.votes}}</span>
        <a ng-click='questionShow.downvote()'><i class="fa fa-thumbs-down"></i></a>
      </div>
    </div>
    <div class="text-right">
      <span>{{questionShow.question.createdAt | amDateFormat:'MMM DD YY'}}</span>
    </div>
  </div>
</div>

<hr>
<h3>Answers</h3>
<br>

<answers-index question="questionShow.question"></answers-index>
