<div ng-init="answersIndex.setQuestionId(question._id)"></div>

<form>
  <div class="form-element form-group">
    <textarea class="form-control" rows="3" type="text" placeholder="Add Your Answer.." ng-model="answersIndex.newAnswer.content"></textarea>
  </div>

  <div class="form-element form-group">
    <button class="btn btn-primary" ng-click="answersIndex.addAnswer()">Add Answer</button>
  </div>
</form>

<div ng-repeat="answer in answersIndex.answers">
  <div class="panel panel-green">
    <div class="panel-heading">
      {{answersIndex.answerOwner(answer.owner)}} &middot;
      <span>{{answer.createdAt | amDateFormat:'MMM DD YY'}}</span>

    </div>
    <div class="panel-body">
        <p>{{answer.content}}</p>
    </div>
    <div class="panel-footer">
      <div class="centered-function-buttons">
        <a ng-click='answersIndex.upvote(answer)'> <i class="fa fa-thumbs-up"></i></a>
          <span>{{answer.votes}}</span>
        <a ng-click='answersIndex.downvote(answer)'><i class="fa fa-thumbs-down"></i></a>
      </div>
    </div>
  </div>
</div>
