<form>
  <div class="form-element form-group">
    <input class="form-control" type="text" placeholder="Question Title" ng-model="questionsIndex.newQuestion.title">
  </div>

  <div class="form-element form-group">
    <textarea class="form-control" rows="3" type="text" placeholder="Type Your Question Here.." ng-model="questionsIndex.newQuestion.content"></textarea>
  </div>

  <div class="form-element form-group">
    <ui-select ng-model="questionsIndex.newQuestion.courseId">
        <ui-select-match placeholder="Category">
            <b ng-bind="'(' + $select.selected.code + ')'"></b>
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="course._id as course in (questionsIndex.courses | filter: $select.search)">
            <b ng-bind="'(' + course.code + ')'"></b>
            <span ng-bind="course.name"></span>
        </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-element form-group">
    <button class="btn btn-primary" ng-click="questionsIndex.addQuestion()">Add</button>
  </div>
</form>

<hr>
<h3>Recent Questions</h3>
<br>

<div ng-repeat="question in questionsIndex.questions">
  <div class="panel panel-primary">
    <div class="panel-heading" ui-sref="questionShow({ questionId: question._id })">
      {{question.title}}
    </div>
    <div class="panel-body" ui-sref="questionShow({ questionId: question._id })">
      <p>{{question.content}}</p>
    </div>
    <div class="panel-footer">
      <div class="text-left">
        <div class="function-buttons" ui-sref="questionShow({ questionId: question._id })">
          {{question.votes}} <i class="fa fa-thumbs-up"></i>
          {{questionsIndex.numberOfAnswers(question._id)}} <i class="fa-commenting"></i>
        </div>
      </div>
      <div class="text-right">
        <a ui-sref="courseShow({ courseId: question.courseId })">
          {{questionsIndex.courseCode(question.courseId)}}
        </a>
      </div>
    </div>
  </div>
</div>
